.customerLoginCard {
    background-color: #243763;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 400px;
    height: auto;
    padding: 15px;
    gap: 15px;
}

.centeredContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}