.itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 16px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #243763;
    
}

.itemTitle {
    font-size: 28px;
    font-weight: 500;
    margin: 10px;
    color: white;
}

.itemPrice {
    font-size: 22px;
    font-weight: bold;
    color: green;
    margin: 5px;
}

.itemSold{
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    color: rgb(255, 38, 0);
    background: rgb(255, 255, 174);
    padding: 5px;
    border-radius: 8px;
    
}

.itemAvailable{
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    color: rgb(26, 56, 223);
    background: rgb(255, 255, 174);
    padding: 5px;
    border-radius: 8px;
}